{% extends "layout.html" %}
{% block title %}
About us
{% endblock %}
{% block content %}
<br><br>
<h1>HTW ChatGPT Bot Demo</h1>
<br><br>
<p>This site shows a simple proof-of-concept for a ChatGPT-based Chat Bot. We use llama_index to fine tune ChatGPT with data from the website of the <a href="htw-berlin.de"><font color="#76B900">Hochschule für Technik und Wirtschaft Berlin</font></a>. </p>

<p>Right now, the data (found in `htw-data/htw-data.txt` contains only a few sentences and was scraped manually (!). In the demo shown below, we ask specifically for content mentioned in this text file.</p>

<p>For further questions, contact <font color="#76B900"> <a href=https://www.htw-berlin.de/hochschule/personen/person/?eid=13856><font color="#76B900">Christina Kratsch | HTW Berlin</font></a></p>
{% endblock %}
