{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<body>

<div class="page-header" style="margin-top: 20px; margin-bottom: 20px;"> 
    <h1>Analytics Bot</h1>
</div>
    
<div class="container">

<div class="row">
    <div class="col-sm-6">
    <div>Tabelle hier einfügen (tab-separierte Spalten):</div>
    <div><textarea id="textarea-input"  style="width: 100%; height: 200px;">
    Origin	sample A	sample B	sample X	sample Y	sample J
    Variable 1	10	15	8	20	5
    Variable 2	5	3	12	8	18
    Variable 3	2	8	6	10	4
    Variable 5	14	10	18	5	12
    Variable 7	7	5	15	3	9
    Variable 8	11	17	9	22	6
    Variable 9	4	12	7	14	10
    Variable 10	8	6	13	4	16</textarea>
    </div>
    </div>
    <div class="col-sm-6">
            <div><br></div>
            <div id="chatboxA" class="border border-success">
                <p class="botText"><span>Interessante Daten!</span>
                </p>

            </div>
            <div id="userInputA">
                <br><br>
                <input id="textInput" class="form-control" type="text" name="msg" placeholder="Frag mich etwas!">
                <input id="buttonInput" class="btn btn-success form-control" type="submit" value="Send">
            </div>
    </div> <!-- col -->
    </div> <!-- row -->
</div> <!-- container -->


<script>

    var textarea = document.getElementById('textarea-input');
    var lines = textarea.value.trim().split("\n");
    var baseString = "datatable = ["

    for (i=1; i<lines.length; i++) {
        /*console.log(i + " ---   " + lines[i])*/
        baseString = baseString + "["
        var tmp = lines[i].split("\t");
        for (j=1; j<tmp.length; j++) {
            baseString = baseString + tmp[j] + ","
        }
        baseString = baseString.slice(0, -1) + "],"
    }
    baseString = baseString.slice(0, -1) + "]"

    baseString = baseString + "\n\nvar nColumns = datatable[0].length;"
    baseString = baseString + "\nvar nRows = datatable.length;\n"


    function getAnalysisBotResponse() {
        let userText = $("#textInput").val();
        let userHtml = '<p class="userText"><span>' + userText + '</span></p>';
        $("#textInput").val("");
        $("#chatboxA").append(userHtml);
        document.getElementById('userInputA').scrollIntoView({block: 'start', behavior: 'smooth'});
       $.get("/get_analysis", { msg: userText }).done(function(data) {
            var javaScriptCode = baseString + "\n\n" + data.trim()
            console.log(javaScriptCode);
            console.log("------------------")
            var codeOutput = eval(javaScriptCode);  //Run the code (pay attention to baseString and read about it below)  
            console.log(codeOutput);
            var botHtml = '<p class="botTextA"><span>' + codeOutput + '</span></p>';
            $("#chatboxA").append(botHtml);
            document.getElementById('userInputA').scrollIntoView({block: 'start', behavior: 'smooth'});
        });
    }

    $("#textInput").keypress(function(e) {
        if(e.which == 13) {
            getAnalysisBotResponse();
        }
    });

    $("#buttonInput").click(function() {
        getAnalysisBotResponse();
    });

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>



{% endblock %}
